*:focus {
    outline: 0;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 50px;
    border: 1px solid #000000;border-radius: 50px;
}

.login p {
    position: relative;
}

.login p label {
    width: 100px;
}

.login p input {
    width: 100%;
    padding: 0 20px;
    border: 1px solid #000000;
    text-align: center;
}

input[type="submit"] {
    background: inherit;
    border: 1px solid #000000;
    border-radius: 25px;
    height: 50px;
    width: 100px;
}

input[type="submit"]:hover {
    background: #000000;
    color: #FFFFFF;
}

container .dropdown-item {
    color: #FFFFFF;
}

.dark .dropdown-item {
    color: #FFFFFF;
    font-size: 1rem;
}

.basicinfo > div,
.basicinfo > select,
.food > div,
.intakedata > div,
.outputdata > div{
    margin-top: 20px;
}

.basicinfo, .food, .intakedata, .outputdata {
    border: 2px solid #000000;
    border-radius: 50px;
    padding: 50px;
    margin: 25px;
}

.input-group-text {width: 130px;}

button[type=submit] {
    margin: 0 auto;
}

form > div {
    text-align: center;
}

.additionalinfo {
    margin-bottom: 50px;
}

.data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container.return {
    position: relative;
    height: 100vh;
}